.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.style-div img{
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;

}
.card-title{
  font-size: 1.5em;
  color: red;
  text-align: center;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
