/* Text Animation Start */

.textGradient {
  position: relative;
  background: -webkit-linear-gradient(319.11deg, #5b54fa 0%, #db0b5f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textGradient:after {
  position: absolute;
  display: block;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(319.11deg, #5b54fa 0%, #db0b5f 100%);
  width: 100%;
  content: "";
  height: 8%;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.textGradient:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}

.textGradient:after {
  height: 3px;
}
.textShadow {
  position: relative;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(127, 107, 228, 0.35)),
    to(rgba(127, 107, 228, 0.35))
  );
  background: linear-gradient(
    rgba(127, 107, 228, 0.35),
    rgba(127, 107, 228, 0.35)
  );
  background-size: 10% 20%;
  background-position: 0 80%;
  background-repeat: repeat-x;
}
.noAfter:after {
  display: none;
}

.animationRotateText {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 300px;
  height: 60px;
  line-height: 2;
}
.topText {
  position: relative;
}
.word {
  position: absolute;
  width: 340px;
  opacity: 0;
  top: -8px;
  left: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0 0 0 19px;
}
.letter {
  display: inline-block;
  position: relative;
  float: left;
  -webkit-transform: translateZ(25px);
  transform: translateZ(25px);
  -webkit-transform-origin: 50% 50% 25px;
  transform-origin: 50% 50% 25px;
  background: -webkit-linear-gradient(319.11deg, #00d84a 0%, #1c8d73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.letter.out {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.32s
    cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.letter.behind {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.letter.in {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.38s
    cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (max-width: 1000px) {
  .word {
    margin: 0 0 0 17px;
  }
}
@media (max-width: 670px) {
  .word {
    top: -4px;
  }
}
@media (max-width: 650px) {
  .topText {
    left: initial;
  }
  .animationRotateText {
    width: initial;
    height: initial;
    vertical-align: unset;
  }
  .word {
    opacity: 1;
    position: static;
    width: initial;
    line-height: 1.1;
    margin: 0;
  }
  .word:not(:first-child) {
    display: none;
  }
  .letter {
    float: none;
  }
}

/* Text Animation End */
